*{
    font-family: system-UI;
    margin:0px;
    padding:0px;
    list-style-type: none;
    color:var(--text-color);
}
:root{
   /* Colors */
    --background-color: rgb(255 255 255);
    --background-color-lighter: rgb(222 222 222);
    --text-color: #323232;
    --section-background-color: #c9c9c9;
   /* padding & margin */
    --section-padding:10px;
    --section-margin:10px;
}
img{
    width:100%;
    max-width: 400px;
}
body{
    background-color: rgb(242 193 193);
    display:flex;
    height: 100%;
}
header{
    padding: 5px 0px;
    display: none;
}
header img {
    max-width: 200px;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
   /* background-color: red;
    */
    background: rgb(242 193 193);
   /* background: url('https://images.unsplash.com/photo-1553484771-371a605b060b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    */
    background-size: cover;
    flex-wrap: wrap;
}
section{
    padding:var(--section-padding);
    margin:var(--section-margin);
    display: none;
    background-color: white;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    border-radius: 10px;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
}
section ul {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 3;
}
section ul li p {
    text-align: center;
    margin: 20px;
    max-width: 480px;
    flex: 1 1 100%;
}
section > ul>li{
    flex: 1 1 100%;
    flex-wrap: wrap;
    overflow: hidden;
}
section>ul li ul li img {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}
section div ul li span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ff0000;
}
section>header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: left;
}
section>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
    z-index: 2;
}
div ul li {
    margin: 10px;
    cursor: pointer;
    align-self: self-end;
}
/* section[title="onderwerpen selecteren"]{
    background-color:var(--background-color);
    padding:0px;
}
*/
section[title="Introductie ondernemen"], section[title="onderwerpen selecteren"]{
    display:flex;
    background-color:var(--background-color);
    width: 100%;
    max-width: 800px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    box-shadow: 0px 0px 7px 0px #d6d6d6;
    border-radius: 10px;
   /* margin: 0px;
    */
}
section[title="Introductie ondernemen"] > ul>li{
    display:none;
    /*! background-color: var(--background-color); */
    justify-content: center;
}
section[title="Introductie ondernemen"] > ul>li:first-child{
    display:flex;
    justify-content: center;
}
section[title="Introductie ondernemen"]>img {
    width: 50%;
    margin: 10px;
    height: 10vh;
    object-fit: contain;
}
section[title="onderwerpen selecteren"] ul li button {
    background-color: rgba(255,255,255,0);
    height: 100%;
    align-items: end;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0 0 5px #7d7d7d;
    z-index: 3;
    text-align: left;
    display: flex;
    font-weight: 600;
}
section[title="onderwerpen selecteren"] ul li {
    min-width: 150px;
    flex: 1 1 40%;
    height: 150px;
    /* text-align: -webkit-center;
    */
    box-shadow: 0px 0px 5px #d7d7d7;
    /* border-bottom: 3px solid red;
    */
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    display: flex;
    background-color: #ffebe3;
}
/* section[title="onderwerpen selecteren"] ul li:hover {
    transform: scale(1.05);
    background-color: #f9dddd;
    border:3px solid red;
}
*/
li a {
    width: 100%;
    display: flex;
    height: 100%;
}
ul li h2 {
    flex: 1 1 100%;
    text-align: center;
}
button {
    padding: 10px;
    color: black;
    border: none;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
div button:last-child {
    background-color: red;
    color: white;
    border-radius: 5px;
    display: flex;
    z-index: 2;
}
div button:last-child::after {
   content: '>';
   display: flex;
   margin-left: 5px;
   border-radius: 10px;
   color: red;
   background-color: white;
   width: 15px;
   justify-content: center;
}
section[title="Introductie ondernemen"] ul li h2 {
    font-size: 1.5rem;
    margin: 20px;
}
ul ul li button {
    display: flex;
    width: 100%;
    font-weight: bold;
}
section ul li ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px 0px;
    background-color: #fff5f5;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
section ul li:nth-child(5) ul {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
section ul li:nth-child(5) ul li {
    flex: 1 1 100%;
    height: 16vh;
    position: relative;
    font-size: 0.7rem;
}
section ul li:nth-child(5) ul li p {
}
section ul li:nth-child(5) ul li h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-shadow: 0 0 2px black;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
/* @media screen and (max-height:550px){
}
*/
.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: "Book-0 Book-1 Book-1 Book-1 Book-2 Book-3" "Book-0 Book-1 Book-1 Book-1 Book-2 Book-3" "Book-0 Book-1 Book-1 Book-1 Book-2 Book-3" "Book-4 Book-1 Book-1 Book-1 Book-5 Book-6" "Book-4 Book-1 Book-1 Book-1 Book-5 Book-6" "Book-4 Book-1 Book-1 Book-1 Book-5 Book-6";
    justify-items: center;
}
.Book-0 {
    grid-area: Book-0;
}
.Book-1 {
    grid-area: Book-1;
}
.Book-2 {
    grid-area: Book-2;
}
.Book-3 {
    grid-area: Book-3;
}
.Book-4 {
    grid-area: Book-4;
}
.Book-5 {
    grid-area: Book-5;
}
.Book-6 {
    grid-area: Book-6;
}
.container2 {
    display: grid;
    background-color: #ffefec;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    grid-auto-flow: row;
    grid-template-areas: "Book-0 Book-0 Book-0 Book-1 Book-1 Book-2 Book-2 Book-5 Book-5" "Book-0 Book-0 Book-0 Book-1 Book-1 Book-2 Book-2 Book-5 Book-5" "Book-0 Book-0 Book-0 Book-3 Book-3 Book-4 Book-4 Book-6 Book-6" "Book-0 Book-0 Book-0 Book-3 Book-3 Book-4 Book-4 Book-6 Book-6";
}
.container div img,.container2 div img {
    height: 100%;
    object-fit: cover;
}
.container div, .container2 div {
    height: auto;
    width:85%;
}
section[title="onderwerpen selecteren"]{
    display: none;
    align-content: baseline;
    height: fit-content;
}
section[title="onderwerpen selecteren"]>*, section[title="onderwerpen selecteren"]>header>* {
    flex: 1 1 90%;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    z-index: 2;
}
section[title="onderwerpen selecteren"] ul li::after {
    content: '';
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transition: 0.5s;
}
section[title="onderwerpen selecteren"] ul li button::after {
    content: '';
}
section[title="onderwerpen selecteren"] ul li::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    width: 200px;
    height: 140%;
    background-color: #f0cec1;
    z-index: 1;
    border-radius: 50%;
    transition: 0.5s;
}
section[title="onderwerpen selecteren"] ul li:first-child::after {
    background-image: url(/src/img/fingerprint.svg);
}
section[title="onderwerpen selecteren"] ul li:nth-child(2)::after {
    background-image: url(/src/img/goals.svg);
}
section[title="onderwerpen selecteren"] ul li:nth-child(3)::after {
    background-image: url(/src/img/marketing.svg);
}
section[title="onderwerpen selecteren"] ul li:nth-child(4)::after {
    background-image: url(/src/img/calender.svg);
    height: 90%;
}
section[title="onderwerpen selecteren"] ul li:nth-child(5)::after {
    background-image: url(/src/img/mirror.svg);
    bottom: 10px;
}
@media screen and (max-width:400px){
    body {
        display: block;
   }
   section[title="onderwerpen selecteren"] {
        align-self: center;
  }
}
section[title="onderwerpen selecteren"] ul li:hover::before {
    background-color: #ffa581;
    transition:0.5s;
    transform:scale(1.05)
}
section[title="onderwerpen selecteren"] ul li:hover::after {
    transition:0.5s;
    transform:scale(1.05);
    margin-right:10px;
    margin-bottom:10px;
}


section[title="onderwerpen selecteren"] ul li button::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 2rem;
    bottom: 0px;
    font-size: 5rem;
    opacity: 0.4;
}

section[title="onderwerpen selecteren"] ul li:first-child button::before {
    content: '1';
}

section[title="onderwerpen selecteren"] ul li:nth-child(2) button::before {
    content: '2';
}

section[title="onderwerpen selecteren"] ul li:nth-child(3) button::before {
    content: '3';
}

section[title="onderwerpen selecteren"] ul li:nth-child(4) button::before {
    content: '4';
}

section[title="onderwerpen selecteren"] ul li:nth-child(5) button::before {
    content: '5';
}

section[title="onderwerpen selecteren"] ul li:hover > button::before {
    opacity: 1;
}

#test:target{
    display:flex;
}


header button {
  font-size: 1.2rem;
  top: -3px;
  left: 0;
  display: flex;
  transition: 0.5s;
  border-radius: 10px;
  border: 2px solid #f1c2c2;
  padding: 10px 20px;
  position: relative;
  position: absolute;
  margin-right: auto;
  z-index: 4;
}
header button::after {
  content: ' Terug';
  font-family: system-ui;
  margin-left: 5px;
  bottom: 1px;
  position: relative;
}
header button:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background-color: #ffa581;
  border: 2px solid #ffa581;
  color: white;
  text-shadow: 0px 0px 3px #a8a8a8;
  /*! display: flex; */
  /*! flex: 1 1 30%; */
}

section header h2 {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


section::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  top: -60px;
  left: -40px;
  background-color: #ffb68142;
  border-radius: 50%;
  z-index: 0;
}

section::after {
  content: '';
  position: absolute;
  width: 330px;
  height: 330px;
  right: -60px;
  bottom: -180px;
  z-index: 0;
  border-radius: 50%;
  background-color: #ffb68142;
}

input#search {
    /* display: flex; */
    /* flex: 1 0 70vw; */
    margin-top: 20px;
    min-width: 195px;
    /* flex: 50%; */
    border: none;
    padding: 20px 10px;
    border: 2px solid #ffebe3;
    border-radius: 10px 0px 0px 10px;
    z-index: 1;
}

input[type="submit"] {
    height: auto;
    border: 0px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    background-color: #ffebe3;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    /* flex: 0 0 10vw; */
    transition: 0.5s;
}

@media screen and (max-width:500px){
    header button{
        position: relative;
    }
    main section:nth-child(n+3) > ul:nth-of-type(1)>li {
        min-width: 120px;
        box-shadow: 0 0 5px #b0b0b0;
    }
    
    main section:nth-child(n+3) > ul:nth-of-type(1)>li button {
        font-size: 1rem;
        display: flex;
        align-items: end;
        text-shadow: 0 0 3px #494949;
    }
}

section:nth-child(n+3) > ul:nth-of-type(1)>li {
    flex: 1 1 20%;
    text-align: center;
    cursor: pointer;
    height: 100px;
    min-width: 160px;
    transition: 0.5s;
    border-radius: 10px;
    /*! box-shadow: 0px 0px 5px #c7c7c7; */
    position: relative;
    background-color: #ffebe3;
}

section:nth-child(n+3) > ul:nth-of-type(1) {
    gap: 20px;
    margin: 10px;
}

section[title="identiteit"] {
    align-content: baseline;
}

section:nth-child(n+3) > ul:nth-of-type(1)>li button {
    height: 100%;
    width: 100%;
    transition: 0.4s;
    display: flex;
    background-color: rgba(255,255,255,0);
    color: white;
    text-shadow: 0 0 5px #a7a7a7;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    z-index: 2;
}


input#search:focus {
  border: 0px;
  outline: 2px solid #f0c2c2;
}


section:nth-child(n+3) > ul:nth-of-type(1) > li:nth-child(1)::before {
  background: url(/src/img/book.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position-x: right;
    z-index:1;
  }

  section:nth-child(n+3) > ul:nth-of-type(1) > li:nth-child(2)::before {
  background: url(/src/img/audio.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position-x: right;
    z-index:1;
  }

  section:nth-child(n+3) > ul:nth-of-type(1) > li:nth-child(3)::before {
  background: url(/src/img/video.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position-x: right;
    z-index:1;
  }
  section:nth-child(n+3) > ul:nth-of-type(1) > li:nth-child(4)::before {
  background: url(/src/img/activities.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position-x: right;
  z-index:1;
  }


  section:nth-child(n+3) > ul:nth-of-type(1) > li::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top:10px;
  right:10px;
  z-index: 0;
}


section:nth-child(n+3) > ul:nth-of-type(1) > li:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
section:nth-child(n+3) > ul:nth-of-type(1) > li:hover {
  background-color: #ffa581;
}


input[type="submit"]:hover {
  transition: 0.5s;
  padding: 0px 20px;
  font-size: 1.2rem;
  background-color: #ffa581;
}

section:nth-child(n+3) ul:nth-of-type(2) li {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20%;
    position: relative;
    height: 370px;
    min-width: 175px;
    z-index: 6;
    box-shadow: 0px 0px 0px 0px darkgrey;
    align-content: space-between;
    overflow: inherit;
}

section:nth-child(n+3) ul:nth-of-type(2) {
    gap: 20px;
    margin: 10px;
}

section:nth-child(n+3) ul:nth-of-type(2) li img {
    height: 250px;
    object-fit: cover;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 5px #939393;
}

section:nth-child(n+3) ul:nth-of-type(2) li::before {
    content: '';
    top: 160px;
    border-radius: 10px;
    left: 0;
    background-color: #ffebe3;
    width: 99%;
    z-index: 1;
    height: 205px;
    position: absolute;
    box-shadow: 0px 0px 5px silver;
}

section:nth-child(n+3) ul:nth-of-type(2) li p:first-of-type {
    font-weight: bold;
    display: flex;
    margin: 5px 10px 5px 10px;
    z-index: 2;
}

section:nth-child(n+3) ul:nth-of-type(2) li p:last-of-type {
    margin: 0px;
    font-size: 0.8rem;
    z-index: 2;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

section:nth-child(n+3) ul:nth-of-type(2) li a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
}